@model RoleTop.ViewModels.BaseViewModel

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/349a64cb04.js"></script>
    <title>RoleTop</title>
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    @if("Login".Equals(@Model.NomeView))
    {
        <link rel="stylesheet" type="text/css" href="~/css/login.css">
    } else if ("Contrato".Equals(@Model.NomeView)){
        <link rel="stylesheet" type="text/css" href="~/css/contrato.css">
    } else if ("Cadastro".Equals(@Model.NomeView)){
        <link rel="stylesheet" type="text/css" href="~/css/cadastro.css">
    } else if ("Dashboard".Equals(Model.NomeView) || "Historico".Equals(@Model.NomeView)){
        <link rel="stylesheet" type="text/css" href="~/css/adm1.css">
    }
</head>

<body>
<!--=================================================CABEÇALHO===============================================-->
    <header>
        <nav>   
            <div class="section-container">
                        <ul>
                            <li id="bt-mobile-menu">
                                    <!-- HTML para colocar os ícones do FA -->
                                    <a href="javascript:void(0);" class="icon" onclick="toggleMobileMenu()">
                                        <i class="fa fa-bars"></i>
                                    </a>
                            </li>
                            <li class="bt-common-menu"><a onclick="toggleMobileMenu()" asp-controller="Home" asp-action="Index"><img src="~/img/logo.png" height="50em"/></a></li>
                            @if(!string.IsNullOrEmpty(@Model.UsuarioEmail))
                        {
                            @if (@Model.UsuarioEmail == "admin@admin.com")
                            {
                                <li class="bt-common-menu"><a onclick="toggleMobileMenu()" asp-controller="Cliente" asp-action="Logoff">Logoff</a></li>
                                <li class="bt-common-menu"><a onclick="toggleMobileMenu()" asp-controller="Administrador" asp-action="Dashboard">Dashboard</a></li>
                            } else
                            {
                                    <li class="bt-common-menu"><a onclick="toggleMobileMenu()" asp-controller="Cliente" asp-action="Historico">Eventos Agendados</a></li>
                                    <li class="bt-common-menu"><a onclick="toggleMobileMenu()" asp-controller="Cliente" asp-action="Logoff">Logoff</a></li>
                                    <li class="bt-common-menu"><a onclick="toggleMobileMenu()" asp-controller="Contrato" asp-action="Index">Agende seu evento</a></li>
                            }
                        } else 
                        {
                            <li class="bt-common-menu"><a onclick="toggleMobileMenu()" asp-controller="Cliente" asp-action="Login">Login/Cadastro</a></li>
                            <li class="bt-common-menu"><a onclick="toggleMobileMenu()" asp-controller="Cadastro" asp-action="Index">agende seu evento</a></li>
                        }
                        </ul>
            </div>
        </nav>
    <!--=================================================CORPO===============================================-->  
        
        <div id="fotocapa" >
                <img src="~/img/fotodecapa1.jpg" alt="Foto de Capa" title="Foto de Capa" />
        </div>    
    </header>
@RenderBody()
    <footer>
        <div class="rodape">
            <address>
                Avenida de Limeira, 539 - Campos Elíseos - SP
                <br />
                roletop@email.com
                <br />
                11 1234 6789
            </address>
            <a href="#">Voltar para o topo!</a>
        </div>
    </footer>
    <script>
        function toggleMobileMenu() {
            var ul = document.querySelector("nav ul");
            var commonButtons = document.querySelectorAll("nav .bt-common-menu");
            var icon = document.querySelector(".icon > i");
            ul.classList.toggle("mobile-mode");
            if (icon.classList.contains("fa-bars")) {
                icon.classList.remove("fa-bars");
                icon.classList.remove("fa");
                icon.classList.add("fas");
                icon.classList.add("fa-skull");
            } else {
                icon.classList.remove("fas");
                icon.classList.remove("fa-skull");
                icon.classList.add("fa");
                icon.classList.add("fa-bars");
            }
            for (var button of commonButtons) {
                button.classList.toggle("active");
            }
        }
    </script>
</body>
</html>